@model HouseDetailsViewModel

@using HouseRentingSystem.Services.Data.Interfaces
@using HouseRentingSystem.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IAgentService AgentService
@inject IHouseService HouseService
@{
    string userId = this.User.GetId()!;

    bool isUserAgent = await AgentService.AgentExistByUserIdAsync(userId);
    bool isAgentOwnerOfTheHouse = await AgentService.HasHouseWithIdAsync(userId, Model.Id);
    bool isUserOwnerOfTheHouse = await HouseService.IsRentedByUserAsync(Model.Id, userId);
    bool isAdmin = User.IsAdmin();

    ViewBag.Title = "House Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Located in: <b>@Model.Address</b></p>
            <p>
                Price Per Month:
                <b>@($"{Model.PricePerMonth:f2}") BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            @if (Model.IsRented && isAdmin)
            {
                <h6>@Model.RenterEmail</h6>
            }
            else
            {
                <br />
            }
            <div class="form-inline">

                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    @if (isAgentOwnerOfTheHouse || isAdmin)
                    {
                        <a class="btn btn-warning mb-2"
                           asp-controller="House"
                           asp-action="Edit"
                           asp-route-id="@Model.Id">Edit</a>

                        <a class="ml-2 btn btn-danger mb-2"
                           asp-controller="House"
                           asp-action="Delete"
                           asp-route-id="@Model.Id">Delete</a>
                    }

                    @if (!isUserAgent || isAdmin)
                    {
                        @if (!Model.IsRented)
                        {
                            <form class="ml-2"
                                  asp-controller="House"
                                  asp-action="Rent"
                                  asp-route-id="@Model.Id"
                                  method="post">
                                <input class="btn btn-primary" type="submit" value="Rent" />
                            </form>
                        }
                        else
                        {
                            if (isUserOwnerOfTheHouse || isAdmin)
                            {
                                <form class="ml-2"
                                      asp-controller="House"
                                      asp-action="Leave"
                                      asp-route-id="@Model.Id"
                                      method="post">
                                    <input class="btn btn-primary" type="submit" value="Leave"/>
                                </form>
                            }
                        }
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Agent Info</h5>
                    <p class="card-text">Name:  @Model.Agent.FullName</p>
                    <p class="card-text">Email:  @Model.Agent.Email</p>
                    <p class="card-text">Phone Number: @Model.Agent.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>

